.skills{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-around;
}
.skills img {
    width: 150px;
    height: 150px;
    margin-top: 40px;
}
.set{
    padding-top: 20px;
}
@media (max-width: 600px) {
    .skills {
        display:grid;
        grid-template-columns: auto ;
        justify-content: space-around;
    }
  }