h2{
    margin: 0;
}

.h2About{
    padding-top: 20px;
}
.about span{
    display: flex;
    justify-content: center;
}
.about p{
    width: 800px;
}
.resume{
    border: none;
    background: #1766dc;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 30px;
}
.resume:hover{
    cursor: pointer;
    background-color: #196deb;
}
.resume a{
    padding: 6px;
    color: #f3f3f3;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .about p{
        max-width: 300px;
    }
    }
.arrow{
    color: #f3f3f3;
    padding-right: 6px;
}