.navBar{
    background: #0c192c;
    background-size:750%;
    height: 7vh;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.navBar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    right:0 ;
    justify-content: flex-end;
}
.navBar li{
    margin-right: 15px;
    font-size: 17px;
    color: aliceblue;
}
.navBar li:hover{
    color: rgb(173, 178, 182);
}
.contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right:0 ;
    left: 0;
}
.navBar a{
    text-decoration: none;
    color: aliceblue;
}
.navBar a:hover{
    color: rgb(173, 178, 182);
}

@media screen and (min-width: 600px) {
    .menu{
        background-color: transparent;
        color: transparent;
    }
}


@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .menu{
        display: flex;
        justify-content: end;    
        padding-left: 20px;
        font-size: 24px;
    }
    .navBar ul {
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    .navBar{
        position: fixed;
    }
  }

