.navBar{
    background: #0c192c;
    background-size:750%;
    height: 7vh;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.navBar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    right:0 ;
    justify-content: flex-end;
}
.navBar li{
    margin-right: 15px;
    font-size: 17px;
    color: aliceblue;
}
.navBar li:hover{
    color: rgb(173, 178, 182);
}
.contain{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right:0 ;
    left: 0;
}
.navBar a{
    text-decoration: none;
    color: aliceblue;
}
.navBar a:hover{
    color: rgb(173, 178, 182);
}

@media screen and (min-width: 600px) {
    .menu{
        background-color: transparent;
        color: transparent;
    }
}


@media screen and (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    .menu{
        display: flex;
        /* width: 100vw; */
        padding-left: 10px;
        font-size: 24px;
        margin-top: 8px;
        position: relative;
        left: 0;
    }
    .navBar ul  {
        z-index: 1;
        display:flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }
    .navBar{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 60px;
        z-index: 100;
    }
    .s{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 100vh;
        background-color: #0c192c;
        z-index: 100;
    }
    .navBar li{
        padding: 10px;
    }
    .lista {
        margin-left: -200px;
    }
    .active{
        margin-left: 0;
    }
  }

