.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  height: 100vh;
  background: url("./components/img/3.jpg");
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_me{
  display: flex;
  justify-content: center;
}
.img_me img{
  height: 250px;
  border-radius: 70px;
}
.title{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1{
  width: 300px;
  border-bottom: 1px solid;
}
@media (max-width: 600px) {
  .title h1{
    width: 250px;
    border-bottom: 1px solid;
  }
}

.bodyApp{
  background-color: #7a82914d;
}