.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header{
  height: 100vh;
  background: url("./components/img/3.jpg");
  background-size:cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img_me{
  display: flex;
  justify-content: center;
}
.img_me img{
  height: 250px;
  border-radius: 70px;
}
.title{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title h1{
  width: 300px;
  border-bottom: 1px solid;
}
/* .title span{
  border-top: 1px solid;
} */

.bodyApp{
  background-color: #7a82914d;
}